@font-face {
	font-family: 'SanomatSans-Thin';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-Thin.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-Thin.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-XLight';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-XLight.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-XLight.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-Light';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-Light.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-Light.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-Medium';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-Medium.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-Bold';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-Bold.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-XBold';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-XBold.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-XBold.woff') format('woff');
}

@font-face {
	font-family: 'SanomatSans-Black';
	src: url('/app/shared/fonts/sanomat-sans/ttf/SanomatSans-Black.ttf') format('truetype'),
		url('/app/shared/fonts/sanomat-sans/woff/SanomatSans-Black.woff') format('woff');
}

